<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Credits </title>
  </head>
  <body>
    <h1>
      Credits
    </h1>
    <p>
      About the Creators
      <div>
      <!-- insert image here -->
      Marina Aziz, Kevin Carpio, and Kira Toal are students attending Loyola Marymount University.
      Carpio and Toal are studying Computer Science while Aziz is studying Electrical Engineering.
      All three of our creators are participants in Google's Computer Science Summer Institute Extention Program.
      As their final project, Aziz, Carpio, and Toal made [esc]Room with the hopes of making every escaper's dreams come true.
      This game is designed to make escape rooms more accessible, affordable, and convenient.
    </div>
    </p>
    <p>
      Our Supporters
      <div>
      Toal, etc
    </div>



  </body>
</html>
