<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Credits </title>
  </head>
  <link rel="stylesheet" type="text/css" href="/styles/credits.css">
  <link href="https://fonts.googleapis.com/css?family=Blinker&display=swap" rel="stylesheet">
  <body>
    <h1>
      Credits
    </h1>
    <p id="return-home"><a id="return-home-text" href="/">Return Home</a></p>
    <div id = "Our_creators">
      <p>About the Creators</p>
      <div id = "About_us">

      <div> <img id = "creators" src="/images/escape.jpeg" alt="escape creators"> </div>
      <p>Marina Aziz, Kevin Carpio, and Kira Toal are students attending Loyola Marymount University.
      Carpio and Toal are studying Computer Science while Aziz is studying Electrical Engineering.
      All three of our creators are participants in Google's Computer Science Summer Institute Extention Program.
      As their final project, Aziz, Carpio, and Toal made [esc]Room with the hopes of making every escaper's dreams come true.
      This game is designed to make escape rooms more accessible, affordable, and convenient.</p>
    </div>
  </div>
    <div id ="Our_supporters">
      <p>Our Supporters</p>
      <div id = "About_supporters">
      [esc]Room would not have been possible without the help of Dr. Ray Toal, Dr. Sandra Luca,
      Masao Kitamura, Lucille Njoo, Ryan Taus, Talia Bahar, Luis Garcia, and Andrew Seaman. In addition, our founders would like to give a special
      thank you to Google for their support and opportunities through CSSIx.
    </div>
  </div>


  </body>
</html>
