<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/styles/failure1.css">
    <title>FAILURE</title>
    <body id="failure">
        <header>
            <p id="return-home"><a href="/">Return Home</a></p>
            <p id="user-name">{{username}}</p>
        </header>

        <div id="image-area">
            <div id=""></div>
            <div class="failure1"></div>
        </div>

        <!-- <div id="win-text-area">
            <h3 id= "win-name-text">name</h3>
            <h3 id="win-dialogue-text">game opening</h3>
            <input id="win-submit-button" type="submit" value="Continue">

        </div>

        <script src="/scripts/winver1.js"></script> -->
    </body>
    </html>
