<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> YOU HAVE FAILED </title>
  </head>

  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/styles/failure1.css">
  <link rel="stylesheet" type="text/css" href="/styles/general.css">
  <link href="https://fonts.googleapis.com/css?family=Blinker&display=swap" rel="stylesheet">
  <body id="failure">
    <header>
      <p id="return-home"><a href="/">Return Home</a></p>
      <p id="user-name">{{username}}</p>
    </header>

    <div id="image-area">
      <div id="failure1-circle"></div>
      <p id="failure-text">
      Unfortunately, you neither Uploaded nor escaped the laboratory before time ran out.
      Press 'Return Home' if you wish to begin another attempt.
      </p>
    </div>

  </body>
</html>
