<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/styles/general.css">
    <link rel="stylesheet" type="text/css" href="/styles/interactive-objects.css">
    <link rel="stylesheet" type="text/css" href="/styles/computer.css">

    <link href="https://fonts.googleapis.com/css?family=Blinker&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div id="game-page">
        <!-- <div id="header"> -->
        <!-- <header> -->
            <p id="return-home"><a href="/">Return Home</a></p>
            <p id="timer">10:00</p>
            <p id="user-name">{{username}}</p>
        <!-- </header> -->
        <div id="image-area"> <!--this is where we can put images (i.e. the escape room background-->
            <div id="view1">
                <!-- <img id ="image1" src="/images/sample-wall.png" alt="view 1"> -->
                <!-- <div id="android"> <img id="android-img" src="/images/android.png" alt="broken android"></div> -->
                <div id="android">
                    <div class="face">
                        <div class="eye"></div>
                        <div class="eye"></div>
                      </div>
                </div>
            </div>
            <div id="view2">
                <div class="wrapper">
                        <svg xmlns="http://www.w3.org/2000/svg" width="600" height="200" viewBox="0 0 1300 399">
                            <text id="computer-text" data-name="Nihil Babu" class="cls-1" transform="translate(6 271)"><tspan x="0" y="0">consciousness extractor 9000x</tspan></text>
                        </svg>
                        <h5>copyright ©  2600 lucille incorporated</h5>
                        <h3 id="message"></h3>
                    </div>
            </div>
            <div id="view3">
            </div>
            <div id="view4">
              <div id = "book1"></div>
              <div id = "book2"></div>
              <div id = "book3"></div>
              <div id = "book4"></div>
            </div>
            <div id="view5">

            </div>
            <div id="view6">
            </div>
            <div id="view7">
            </div>
            <div id="view8">
            </div>
        </div>
        <div id="text-area">
            <h3 id="name-text">name</h3>
            <h3 id="dialogue-text">game opening</h3>
        </div>
        <div id="button-area">
            <input id="submit-button" type="submit" value="Continue">
            <input id="option-button1" type="submit" value="option 1">
            <input id="option-button2" type="submit" value="option 2">
        </div>
        <script src="/scripts/timer.js"></script>
        <script src="/scripts/dialogue.js"></script>
        <script src="/scripts/change-view.js"></script>
        <script src="/scripts/interactions.js"></script>

    </div>
</body>
</html>
