<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/styles/general.css">
    <link href="https://fonts.googleapis.com/css?family=Blinker&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body id="game-page1">
    <header>
        <p id="return-home">Return Home</p>
        <p id="timer">10:00</p>
        <p id="user-name">Kira</p>
    </header>
      
    <div id="image-area"> <!--this is where we can put images (i.e. the escape room background-->
        <div id="sample-image"></div>
    </div> 
    
    <div id="text-area">
        <h3 id="name-text">name</h3>
        <h3 id="dialogue-text">game opening</h3>
        <input id="submit-button" type="submit" value="Continue">
        <input id="option-button1" type="submit" value="option 1">
        <input id="option-button2" type="submit" value="option 2">

    </div>
    <script src="/scripts/dialogue.js"></script>
    <script src="/scripts/timer.js"></script>
</body>
</html>