<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/styles/general.css">
    <link href="https://fonts.googleapis.com/css?family=Blinker&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div id="text-area">
        <p id="dialogue-text">game opening</p>
        <input id="submit-button" type="submit" value="Continue">
    </div>
    <script src="/scripts/game-page1.js"></script>
</body>
</html>