<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Leaderboard </title>
  </head>
  <link rel="stylesheet" type="text/css" href="/styles/general.css">
  <link rel="stylesheet" type="text/css" href="/styles/leaderboard.css">
  <link href="https://fonts.googleapis.com/css?family=Blinker&display=swap" rel="stylesheet">
  <body>
    <h1>
      leaderboard
    </h1>
      <p id="return-home"><a href="/">Return Home</a></p>
    <table id = "Leader_box">
      {% for user in all_users %}
      <tr id = "rank" >
        <td id = "name">{{ user.user_name }}</td>
        <td id = "time">{{ '{:02}:{:02}'.format(
          user.score // 60, user.score % 60) }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
