<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Leaderboard </title>
  </head>
  <link rel="stylesheet" type="text/css" href="/styles/leaderboard.css">
  <link href="https://fonts.googleapis.com/css?family=Blinker&display=swap" rel="stylesheet">
  <body>
    <h1>
      leaderboard
    </h1>
    <table id = "Leader_box">
      {% for user in lowestscore %}
      <tr id = "rank" >
        <td id = "name">{{user[0]}}</td>
        <td id = "score">{{user[1]}}:{{'{:02}'.format(user[2])}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
