<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/styles/endings.css">
    <link href="https://fonts.googleapis.com/css?family=Blinker&display=swap" rel="stylesheet">
    <title>Escaped Laboratory</title>
</head>
<body>
    <h1>escaped lab via stairs</h1>
    <div id = "winPage2">
      <p id="return-home"><a href="/">Return Home</a></p>
      <p id="user-name">{{username}}</p>
      <p id="win-name-text2">placeholder name</p>
      <p id="win-dialogue-text2"> placeholder text</p>
    </div>
    <div id="image-area">IMAGE</div>
    <div id="button-area">
      <input id="win-submit-button2" type="submit" value="Escape">
    </div>
    <script src="/scripts/winver2.js"></script>
</body>
</html>
