<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/styles/general.css">
    <link rel="stylesheet" type="text/css" href="/styles/interactive-objects.css">
    <script type="text/javascript" src = "scripts/glow.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Blinker&display=swap" rel="stylesheet">
    <title>Congratulations</title>
</head>
<body id="win-ver1">
    <header>
        <p id="return-home"><a href="/">Return Home</a></p>
        <p id="user-name">{{username}}</p>
    </header>

    <div id="image-area">
        <div id="view1"></div>
        <div class="ending1">
          <div id="infinity"></div>

        </div>
    </div>

    <div id="win-text-area">
        <h3 id= "win-name-text">name</h3>
        <h3 id="win-dialogue-text">game opening</h3>
        <input id="win-submit-button" type="submit" value="Continue">

    </div>

    <script src="/scripts/winver1.js"></script>
</body>
</html>
