/* A general stylesheet. We can create others for more specialised pages. */

body {
    color: white;
    background-color: black;  
    text-align: center; 

    font-family: 'Blinker', 'Times New Roman'; 
}

#homepage {
    
    height: 100vh; 
    display: flex; 
    flex-direction: column; 
    align-self: center; /* not working correctly */ 

}

a {
    opacity: 0.5;
    color: white;
    text-decoration: none;
}

a:hover {
    opacity: 1; 
}

header {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
}


#name-text {
    text-transform: uppercase;
    opacity: 0.55; 
}

#image-area {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

#view1 { 
    background: teal;   

    width: 50%;
    height: 30vw;
   
    display:flex;
    justify-content: center; 
}

#view2 { 
    background: lightblue;   

    width: 50%;
    height: 30vw;
   
    display:flex;
    justify-content: center; 
}

#view3 { 
    background: slategray;   

    width: 50%;
    height: 30vw;
   
    display:flex;
    justify-content: center; 
}

#view4 { 
    background: turquoise;   

    width: 50%;
    height: 30vw;
   
    display:flex;
    justify-content: center; 
}