/* A general stylesheet. We can create others for more specialised pages. */

body {
    color: white;
    background-color: black;
    text-align: center;

    font-family: 'Blinker', 'Times New Roman';

    height: 100vh;

    margin: 0;
    padding: 0;


}

#homepage {

    display: flex;
    flex-direction: column;
    align-self: center; /* not working correctly */

}

#game-page {
    display: grid;
    grid-template-rows: 60px auto 100px 100px;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    opacity: 0.5;
    color: white;
    text-decoration: none;
}

a:hover {
    opacity: 1;
}

#return-home {
    grid-row: 1;
    grid-column: 1;
}
#timer {
    grid-row: 1;
    grid-column: 2;
}
#user-name {
    grid-row: 1;
    grid-column: 3;
}


#image-area {
    grid-row: 2;
    grid-column: 1 / span 3;
}

#view1 {
    height: 450px;
    width: 750px;
    display: inline-block;
    /* background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/images/view1bg.png"); */
}
#view2 {
    height: 450px;
    width: 750px;
    display: inline-block;
    border-color: white;
    /* background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/images/view-2.png"); */
    background-color: slategray;

}

#view3 {
    height: 450px;
    width: 750px;
    display: inline-block;
    /* background-color: dimgray;  */
}

/* #view4 {
    height: 450px;
    width: 750px;
    display: inline-block;
    background-color: ##26282B;
    display: grid;
    border: 5px solid #8EA6CB;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; */
    /* grid-row-gap: 10px; */
    /* background-image: url("/images/hallway1.png"); */
/* } */

#bookshelf {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.shelf {
  border: 5px solid #8EA6CB;
}

.book {
  display: inline-block;
  height: 30vh;
  width: 5vh;
  background-color: #48687B;
  margin-left: 5px;
}
 #book1 {
  background-color: #A23A1B;
  /* margin-left: 100px; */
}

/* #book2 {
  height: 230px;
  width: 45px;
  background-color: #C1BD30;
  margin-left: 80px;
}

#book3 {
  height: 230px;
  width: 45px;
  background-color: #C1BD30;
  margin-left: 80px;
} */

/* #book4 {
  height: 120px;
  width: 30px;
  background-color: #1D437D;
  margin-left: 90px;
  padding-top: 200px;
} */


#view7 {
    height: 450px;
    width: 750px;
    display: inline-block;

    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/images/view7bg.png");
}

#text-area {
    grid-row: 3;
    grid-column: 1 / span 3;
}
#name-text {
    margin-bottom: 0px;
    opacity: 0.60;
}
#dialogue-text {
    margin-top: 10px;
}

#button-area {
    margin-top: 10px;
    grid-row: 4;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#option-button2 {
    margin-top: 10px;

}
