body {
    color: white;
    background-color: black;
    text-align: center;

    font-family: 'Blinker', 'Times New Roman';

    /* height: 100vh;

    margin: 0;
    padding: 0; */

}

#escape_title {
    font-size: 50px;
    font-style: bold;
    display:flex;
    flex-direction: column;
    
}
/* #homepage {

    display: flex;
    flex-direction: column;
    align-self: center; /* not working correctly */

} */
