/* #android-img {
    width: 750px;
    height: 450px;
} */

/* #computer {
    background-color: red;
    width: 50px;
    height: 50px;
} */

/* #doors-img {
    width: 750px;
    height: 450px;
} */

* {
    box-sizing: border-box;
}

#android {
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.face {
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 200px;
    padding: 30px;
    background: #8EACD9;
    transition: .3s ease-in-out;
}

.face:hover {
    background: #99ACC8;
}

.eye {
    background: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-transform-origin: 50%;
    -webkit-animation: blink 5s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
#view5 {
    display: flex;
    align-content: center;
    /* justify-content: flex-start;  */
    flex-direction: row;
}
#door-left {


    background: gray;
    height: 200px;
    width: 100px;
    margin-left: 0px;
}
#door-right {


    background: darkgray;
    height: 200px;
    width: 100px;
    margin-right: 0px;
}

#panel {
    background: dimgray; 
    height: 200px;
    width: 100px;
}