/* {
    box-sizing: border-box;
} */

#android {
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.face {
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 200px;
    padding: 30px;
    background: #8EACD9;
    transition: .3s ease-in-out;
}

.face:hover {
    background: #99ACC8;
}

.eye {
    background: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-transform-origin: 50%;
    -webkit-animation: blink 4s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
#view5 {
    display: flex;
    align-content: center;
    /* justify-content: flex-start;  */
    flex-direction: row;
}
#door-left {

    background: #8EA6CB;
    height: 200px;
    width: 100px;
    display: inline-block;
      z-index: 0;

}
#door-right {
    background: #8EA6CB;
    height: 200px;
    width: 100px;
    display: inline-block;
    z-index: 0;
}

.doors {
  top:100px;
  position:relative;
}

#right-knob{
  background: lightgray;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  z-index: 1;
  margin-right: 15px;
}

#left-knob{
  background: lightgray;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  z-index: 1;
  margin-left: 15px;
}

#panel {
    background: dimgray;
    height: 400px;
    width: 600px;
    position: relative;
}

#panel:hover {
    background: slategray;
}

#panel-text {
    padding: 155px;
    text-shadow: 2px 2px black;
}

/* .screw {
    display: flex;
    justify-content: space-between;

    background: lightgray;
    width: 50px;
    height: 50px;
    border-radius: 50%;

} */

#screw1 {
    background: lightgray;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    position: absolute;
    left: 10px;
    top: 10px;

    z-index: 5;
    /* margin-top: -65px;
    margin-left: 15px;  */
}

#screw2 {
    background: lightgray;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    position: absolute;
    left: 10px;
    bottom: 10px;

    z-index: 5;
}

#screw3 {
    background: lightgray;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    position: absolute;
    right: 10px;
    top: 10px;

    z-index: 5;
}

#screw4 {
    background: lightgray;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    position: absolute;
    right: 10px;
    bottom: 10px;

    z-index: 5;
}


#secret-message {
    margin-top: -10px;
    /* margin-right: 0px;  */
    position: absolute;
    z-index: -1;
}

.trapezoid {
  border-bottom: 150px solid #555;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  height: 150px;
  width: 204px;
  top: -73px;
  position: relative;
}

#bookshelf {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
  }

  .shelf {
    border: 5px solid #8EA6CB;
  }

.book {
    display: inline-block;
    height: 30vh;
    width: 5vh;
    background-color: #48687B;
    margin-left: 5px;
    font-family: 'Times New Roman';
}
.book:hover {
    opacity: 0.8;
}

#book1 {
/* background-color: steelblue; */
position: relative;
/* margin-left: 100px; */
}
#book5 {
    /* background-color: darkslategray; */
    position: relative;
    /* margin-left: 100px; */
}
#book7 {
    background-color: turquoise;
    position: relative;
    /* margin-left: 100px; */
}
#book14 {
    background-color: navy;
    position: relative;
    /* margin-left: 100px; */
}
#book19 {
    background-color: darkgray;
    position: relative;
    /* margin-left: 100px; */
}
#book25 {
    background-color: slateblue;
    position: relative;
    /* margin-left: 100px; */
}
#book28 {
    background-color: skyblue;
    position: relative;
    /* margin-left: 100px; */
}

.booktext {
    transform: rotate(-90deg);
    width: 200px;
    margin: 0px;
    position: absolute;
    left: -85px;
    bottom: 90px;
}


#stair_1 {
  border-bottom: 100px solid #555;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 300px;
  width: 700px;
  top: 50px;
  position: relative;
}

#stair_2 {
  border-bottom: 90px solid #250;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0px;
  width: 600px;
  top: -140px;
  position: relative;
  margin-left: 50px;
}

#stair_3 {
  border-bottom: 80px solid #400;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: -30px;
  width: 500px;
  top: -310px;
  position: relative;
  margin-left: 100px;
}

#stair_4 {

}

#stair_5 {

}

#stair_6 {

}

#stair_7{

}
